// Base imports used in the theme

// Our variables
// --------------------------------------------------
// Import our variables to override Bootstraps default ones
@import "scss/base";

// Own theme
@import "scss/theme";

/* You can add global styles to this file, and also import other style files */
body {
  margin: 0px;
}

h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  color: #42b983;
}

.row {
  margin: auto;
}
